<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>web</display-name>
  
  <servlet>
  <servlet-name>noticeok</servlet-name>
  <servlet-class>review.noticeok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>noticeok</servlet-name>
  <url-pattern>/review/noticeok.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>new_join</servlet-name>
  <servlet-class>review.new_join</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>new_join</servlet-name>
  <url-pattern>/review/new_join.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>io_ok</servlet-name>
  <servlet-class>review.io_ok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>io_ok</servlet-name>
  <url-pattern>/review/io_ok.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>couponok</servlet-name>
  <servlet-class>coupon.couponok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>couponok</servlet-name>
  <url-pattern>/coupon/couponok.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>session1</servlet-name>
  <servlet-class>session.session1</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>session1</servlet-name>
  <url-pattern>/session/session1.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>session2</servlet-name>
  <servlet-class>session.session2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>session2</servlet-name>
  <url-pattern>/session/session2.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>session3</servlet-name>
  <servlet-class>session.session3</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>session3</servlet-name>
  <url-pattern>/session/session3.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>event_infook</servlet-name>
  <servlet-class>event.event_infook</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>event_infook</servlet-name>
  <url-pattern>/event/event_infook.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>idcheck</servlet-name>
  <servlet-class>shop.idcheck</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>idcheck</servlet-name>
  <url-pattern>/shop/idcheck.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>join_ok</servlet-name>
  <servlet-class>shop.join_ok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>join_ok</servlet-name>
  <url-pattern>/shop/join_ok.do</url-pattern>
  </servlet-mapping>  
  
  
  <servlet>
  <servlet-name>shop_loginok</servlet-name>
  <servlet-class>shop.shop_loginok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>shop_loginok</servlet-name>
  <url-pattern>/shop/shop_loginok.do</url-pattern>
  </servlet-mapping>     
  
  <servlet>
  <servlet-name>notice_writeok</servlet-name>
  <servlet-class>notice.notice_writeok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>notice_writeok</servlet-name>
  <url-pattern>/notice/notice_writeok.do</url-pattern>
  </servlet-mapping>  
  
  
  <servlet>
  <servlet-name>notice_list</servlet-name>
  <servlet-class>notice.notice_list</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>notice_list</servlet-name>
  <url-pattern>/notice/notice_list.do</url-pattern>
  </servlet-mapping>  
    
    
    
  <servlet>
  <servlet-name>notice_view</servlet-name>
  <servlet-class>notice.notice_view</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>notice_view</servlet-name>
  <url-pattern>/notice/notice_view.do</url-pattern>
  </servlet-mapping>    
  
  <servlet>
  <servlet-name>mailok</servlet-name>
  <servlet-class>email.mailok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>mailok</servlet-name>
  <url-pattern>/email/mailok.do</url-pattern>
  </servlet-mapping>  
    
  
</web-app>